# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# source engine specific
*obj_*
sp/src/vgui2/vgui_controls/generated_proto

# mod directory entries
sp/game/mod_episodic/demoheader.tmp
sp/game/mod_episodic/maps
sp/game/mod_episodic/save
sp/game/mod_episodic/sound
sp/game/mod_episodic/modelsounds.cache
sp/game/mod_episodic/*.txt
sp/game/mod_episodic/*.cfg
sp/game/mod_episodic/voice_ban.dt
sp/game/mod_episodic/cfg/autoexec.cfg

