# *.c text eol=crlf
# *.cpp text eol=crlf
# *.cxx text eol=crlf
# *.h text eol=crlf
# *.hpp text eol=crlf
# *.hxx text eol=crlf
# *.cs text eol=crlf
# *.m text eol=crlf
# *.mm text eol=crlf
*.java text eol=crlf

*.json text eol=lf
*.vcxproj text eol=crlf
*.vcproj text eol=crlf
*.vcxproj.filters eol=crlf
*.vcxproj.user eol=crlf
*.sln text eol=crlf
proguard-project.txt text=auto

*.vmf binary